h2{
    font-family: 'Work Sans', sans-serif;
    color: #FFFFFF;
    
    
}

@media screen and (min-width: 1200px){
    h2{
        margin-top: 15px;
        font-size: 64px;
    }
}

@media screen and (min-width: 992px){
    h2{
        font-size: 4rem;
        padding: 20px;
    }
    .row{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

/* ! Hacemos la adaptación para celulares */

@media screen and (min-width: 300px){
    h2{
        font-size: 2.5rem;
        padding: 20px;
    }

}




