<!-- 
*   TÍTULO DEL APARTADO
!   Font Work Sans 
!   Font Size: 64 px
!   Color: FFFFFF
*   Mantenemos el mismo background que el resto del site
!   background-color: #09090a;
-->

<div class="container">
    <div class="row">
        <div class="col-xl-3">
                <h2> EXPERIENCIA LABORAL</h2>
            
        </div>

        <div class="col-lg-11">
            <table class="table">
                <tbody>
                    <tr>
                        <td>NOMBRE DE LA EXPERIENCIA</td>
                        <td>DESCRIPCIÓN DE LA EXP</td>
                        <td>EDITAR</td>
                        <td>BORRAR</td>
                    </tr>
                </tbody>
               
            </table>
        </div>

           
    </div>
    
    
</div>