<div class="container-fluid">
    <div class="row ">
        <div class="d-inline-flex col-4 order-1 col-md-3 col-lg-2 ap">
            <img class="img-fluid" src="../../../assets/LogosInti1.png">
        </div>
        <div class="d-inline-flex col-4 order-2 col-md-3 col-lg-2">
            <img class="img-fluid" src="../../../assets/LogosInti 2.png">
        </div>
        <div class="d-inline-flex col-4 order-3 col-md-3 order-md-4 col-lg-4">
            <button type="button" class="btn btn-light" (click)="login()" *ngIf="!isLogged">INGRESAR</button>
            <button type="button" class="btn btn-light" (click)="onLogout()" *ngIf="isLogged">SALIR</button>
        </div>
        <div class="d-inline flex col-12 order-4 col-md-3 order-md-3 rrss col-lg-4">
            <a title="LinkedIn" href="http://www.linkedin.com"><img class="logo" src="../../../assets/linkedin.png" alt="LinkedIn" /></a>
            <a title="LinkedIn" href="http://www.github.com"><img class="logo" src="../../../assets/github.png" alt="Github" /></a>
            <a title="LinkedIn" href="http://www.twitter.com"><img class="logo" src="../../../assets/signo-de-twitter.png" alt="Twitter" /></a>
            <a title="LinkedIn" href="http://www.gmail.com"><img class="logo" src="../../../assets/correo-electronico.png" alt="Correo" /></a>

        </div>
    </div>
    <div class="row" id="header">
        <div class="col-12 col-md-12 col-lg-12">
            <img src="../../../assets/banner-lg.png" class="img-fluid">
        </div>
</div>