<!-- <div class="container">
    <div class="row">
        <div class="col-lg-2">
           <p class="company-name align-middle">COMPANY NAME</p>
           <br>
           <p class="year">YEAR-YEAR</p> 
        </div>
        <div class="col-lg-7 offset-lg-3">
            <p class="jobtitle">JOB TITLE </p>
            <br>
            <ul>
                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li> Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>

            </ul>
        </div>       
    </div>
</div> -->

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Trabajo 1</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta repellendus sequi, culpa tenetur quae veritatis? Minus perferendis alias distinctio dolorum. Architecto porro est praesentium vel soluta vitae repudiandae nesciunt harum!</p>
        </ul>
        <ul>
            <li><h1>Trabajo 2</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta repellendus sequi, culpa tenetur quae veritatis? Minus perferendis alias distinctio dolorum. Architecto porro est praesentium vel soluta vitae repudiandae nesciunt harum!</p>
        </ul>
        <ul>
            <li><h1>Trabajo 3</h1> - <h3>(years)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta repellendus sequi, culpa tenetur quae veritatis? Minus perferendis alias distinctio dolorum. Architecto porro est praesentium vel soluta vitae repudiandae nesciunt harum!</p>
        </ul>

    </div>



</div>
