<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="education">STUDIES</h1>
        </div>
    </div>

    <div class="row box">
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li><h1>Estudio 1</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta repellendus sequi, culpa tenetur quae veritatis? Minus perferendis alias distinctio dolorum. Architecto porro est praesentium vel soluta vitae repudiandae nesciunt harum!</p>
            </ul>
            <ul>
                <li><h1>Estudio 2</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta repellendus sequi, culpa tenetur quae veritatis? Minus perferendis alias distinctio dolorum. Architecto porro est praesentium vel soluta vitae repudiandae nesciunt harum!</p>
            </ul>
            <ul>
                <li><h1>Estudio 3</h1> - <h3>(years)</h3></li>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta repellendus sequi, culpa tenetur quae veritatis? Minus perferendis alias distinctio dolorum. Architecto porro est praesentium vel soluta vitae repudiandae nesciunt harum!</p>
            </ul>

        </div>



    </div>

</div>

