<div class="container-fluid">
    <div class="row" id="banner">
        <div class="col-sm1-12 col-md-2 col-lg-2">
            <app-logo-ap></app-logo-ap>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3">
            <app-logointi></app-logointi>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-lg-2 offset-md-2 rrss">
            <app-redes-sociales></app-redes-sociales>
        </div>
        <div class="col-sm-12 col-md-2 col-lg-2 boton">
            <app-button></app-button>
        </div>
</div>
<div class="row" id="header">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <app-banner></app-banner>    
    </div>

</div>
