
#header{
    background-color: #09090a;
}

.rrss{
    margin-right: 0em;
    padding-right: 0em;
 
}

.row{
    background-color:#a1b5ca;
    display: flex;
    align-items: center;
    justify-content: center;

}

.boton{
    align-content: center;
    display: contents;
}