<div class="container-fluid">
    <div class="row">
        <div class="col-1 col-md-1 col-lg-3">
            <app-profile-picture></app-profile-picture>
        </div>
        <div class="col-md-3 col-lg-5 offset-lg-1 job">
            <p class="title-job">Full-stack developer junior</p>
        </div>
    </div>
    <div class="row">
        <div class="col-2 col-md-5 col-lg-3">
            <h2 class="nombre">Octavio Copetti</h2>
        </div>
        <div class="col-md-6 col-lg-6 offset-lg-1 offset-md-1">
            <p class="about">My job is to create dynamic, fluid and aesthetically beautiful web pages with responsive design adapted to all devices. After finishing my degree in Social Communication, I began to study something that i was passionate about in the past: web programming. Combining my knowledge in Communication and Programming, my goal is to provide you with a product with a high level of communicabilly, adapted to your needs and the requirements. </p>
        </div>
    </div>

    
</div>
