<!-- 
    
*           Bienvenido/a a mi portafolio!
*           Mi nombre es Octavio Copetti
*           Estoy realizando la segunda parte del
!           ARGENTINA PROGRAMA
todo        #SéProgramar
?           -un curso de programación financiado 
?           por el Estado Argentino. 
*           Este portafolio tiene todo el front-end
*           realizado en ANGULAR con BOOTSTRAP.
!           -------------------------
*           Espero que toda esta información te resulte útil! 
*           Por cualquier duda, puedes escribirme a
todo        octacopetti@gmail.com 
-->


<!-- 

    !ACERCA DEL PORTAFOLIO:

    *El Portafolio debe construirse siguiendo los lineamientos propuestos en el Trabajo Final del curso Argentina Programa. De modo resumido, el mismo debe contar con:
?   1. Un banner con el logo del ministerio, del curso, botones que linkeen a redes sociales y un boton para iniciar sesión
?   2. Un header con foto
?   3. Una tarjeta personal con foto de perfil, nombre, título obtenido (Full stack web Developer Jr) y una breve descripción
?   4. Nuestra Experiencia Laboral
?   5. Nuestros estudios
?   6. Habilidades (soft and hard skills)
?   7. Algunos proyectos realizados

todo ACTUALIZACIONES

*   22 DE JUNIO 2022
!   Lo óptimo sería que, luego de construir el Front-End, se realice la integración con el Back-End y, de esta manera, hacer que el portafolio se vuelva completamente editable para quien quiera crearse un usuario en mi plataforma. Por ahora estoy avanzando con el front en Angular, veremos si llegamos a realizar todo e implementar la base de datos y la integración con el Back. 


?   Que la suerte nos acompañe!
 -->
<div class="root">
     <!-- !Acá coloco el header (Punto 1 y 2) -->
<app-header></app-header>

 <!-- !Acá coloco la tarjeta personal (Punto 3) -->
<app-personal-card></app-personal-card>

<!-- !Acá coloco la experiencia laboral (Punto 4)-->
<app-experience></app-experience>

<!-- !Acá coloco los estudios cursados (Punto 5) -->
<app-education></app-education>
</div>
