<!--  
    todo ----- La idea a futuro sería cambiar esto por una foto que ocupe todo el ancho
    todo ----- en lugar de codear todo
-->


<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-4">
            <p class="saludo">Hola, mi nombre es</p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <img src="../../../assets/Rectangle 3.png" class="img-fluid" alt="" >

        </div>
    
        <div class="col-sm-6 col-lg-8">
               <p class="nombre" id="nombre">OCTAVIO <span id="apellido">COPETTI </span></p>
               <p class="sub">¡Estoy listo para llevar <br> tus sueños a la web!</p>
        </div>
          
    </div>

<div>
    
