img{
    width: 100px;
    margin-left: 100px;
    margin-top: -48px;
    border-radius: 100%;
}

@media screen and (min-width: 992px){
    img{
        width: 137px;
        margin-left: 78px;
        margin-top: -95px;
        border-radius: 100%;
    }
}