/* You can add global styles to this file, and also import other style files */

.root{
    background-color: #09090a;
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}

