h2{
    font-size: 64px;
    font-family: 'Work Sans', sans-serif;
    font-weight: normal;
    color: #FFFFFF;

}

@media screen and (min-width: 992px){
    .row{
        display: inline-flex;
    }
}

@media screen and (min-width: 300px){
    h2{
        font-size: 2.5rem;
        padding: 20px;
        margin: 20px;
    }
}
