<div class="container">
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <h2>HARD & SOFT SKILLS</h2>
    </div>
<div class="row"> 
<div class="col-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
  [percent]="95"
  [radius]="75"
  [outerStrokeWidth]="12"
  [innerStrokeWidth]="5"
  [backgroundGradient]="true"
  [backgroundColor]="'#B7C3EA'"
  [backgroundGradientStopColor]="'#23397F'"
  [outerStrokeColor]="'#FF7D14'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [title]="'HTML'"
  [showUnits]="false"
  [titleColor]="'white'"
  [titleFontSize]="'2rem'"
  [responsive]="true"
  [imageSrc]="'../../../assets/html-logo.png'"
  [imageHeight]="70"
  [imageWidth]="70"
  [showImage]="true"
  [animationDuration]="300"
        ></circle-progress>

    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="75"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#2714FF'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [title]="'HTML'"
            [showUnits]="false"
            [backgroundGradient]="true"
            [backgroundColor]="'#B7C3EA'"
            [backgroundGradientStopColor]="'#23397F'"
            [titleColor]="'white'"
            [titleFontSize]="'2.5rem'"
            [responsive]="true"
            [imageSrc]="'../../../assets/css-logo.png'"
            [imageHeight]="90"
            [imageWidth]="90"
            [showImage]="true"
            [animationDuration]="300"
        ></circle-progress> 
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="75"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#EBFF14'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [backgroundGradient]="true"
            [backgroundColor]="'#B7C3EA'"
            [backgroundGradientStopColor]="'#23397F'"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'white'"
            [titleFontSize]="'2rem'"
            [responsive]="true"
            [imageSrc]="'../../../assets/js-logo.png'"
            [imageHeight]="90"
            [imageWidth]="90"
            [showImage]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
</div>
<div class="row">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="90"
            [radius]="75"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#AA00FF'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'white'"
            [backgroundGradient]="true"
            [backgroundColor]="'#B7C3EA'"
            [backgroundGradientStopColor]="'#23397F'"
            [titleFontSize]="'2rem'"
            [responsive]="true"
            [imageSrc]="'../../../assets/bootstrap-logo.png'"
            [imageHeight]="90"
            [imageWidth]="90"
            [showImage]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="60"
            [radius]="75"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FC0707'"
            [innerStrokeColor]="'#C7E596'"
            [backgroundGradient]="true"
            [backgroundColor]="'#B7C3EA'"
            [backgroundGradientStopColor]="'#23397F'"
            [animation]="true"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'white'"
            [titleFontSize]="'2rem'"
            [responsive]="true"
            [imageSrc]="'../../../assets/angular-logo.png'"
            [imageHeight]="90"
            [imageWidth]="90"
            [showImage]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="col-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="40"
            [radius]="75"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#00FF2A'"
            [innerStrokeColor]="'#C7E596'"
            [backgroundGradient]="true"
            [backgroundColor]="'#B7C3EA'"
            [backgroundGradientStopColor]="'#23397F'"
            [animation]="true"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'white'"
            [titleFontSize]="'2rem'"
            [responsive]="true"
            [imageSrc]="'../../../assets/node-logo.png'"
            [imageHeight]="90"
            [imageWidth]="90"
            [showImage]="true"
            [animationDuration]="300"
        ></circle-progress>
    </div>
    <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="100"
            [radius]="75"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#00FF2A'"
            [innerStrokeColor]="'#C7E596'"
            [backgroundGradient]="true"
            [backgroundColor]="'#B7C3EA'"
            [backgroundGradientStopColor]="'#23397F'"
            [animation]="true"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'white'"
            [titleFontSize]="'2rem'"
            [responsive]="true"
            [imageSrc]="'../../../assets/res-prob.png'"
            [imageHeight]="90"
            [imageWidth]="90"
            [showImage]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="100"
            [radius]="75"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#2714FF'"
            [innerStrokeColor]="'#C7E596'"
            [backgroundGradient]="true"
            [backgroundColor]="'#B7C3EA'"
            [backgroundGradientStopColor]="'#23397F'"
            [animation]="true"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'white'"
            [titleFontSize]="'2rem'"
            [responsive]="true"
            [imageSrc]="'../../../assets/icons8-doubt-64.png'"
            [imageHeight]="90"
            [imageWidth]="90"
            [showImage]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="100"
            [radius]="75"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#FF7D14'"
            [innerStrokeColor]="'#C7E596'"
            [backgroundGradient]="true"
            [backgroundColor]="'#B7C3EA'"
            [backgroundGradientStopColor]="'#23397F'"
            [animation]="true"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'white'"
            [titleFontSize]="'2rem'"
            [responsive]="true"
            [imageSrc]="'../../../assets/adaptabilidad.png'"
            [imageHeight]="90"
            [imageWidth]="90"
            [showImage]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
    </div>
    <div class="row">
        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="100"
            [radius]="75"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#f15cb3'"  
            [innerStrokeColor]="'#C7E596'"
            [backgroundGradient]="true"
            [backgroundColor]="'#B7C3EA'"
            [backgroundGradientStopColor]="'#23397F'"
            [animation]="true"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'white'"
            [titleFontSize]="'2rem'"
            [responsive]="true"
            [imageSrc]="'../../../assets/comunicacion.png'"
            [imageHeight]="90"
            [imageWidth]="90"
            [showImage]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="100"
            [radius]="75"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#42ffe0'"
            [innerStrokeColor]="'#C7E596'"
            [backgroundGradient]="true"
            [backgroundColor]="'#B7C3EA'"
            [backgroundGradientStopColor]="'#23397F'"
            [animation]="true"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'white'"
            [titleFontSize]="'2rem'"
            [responsive]="true"
            [imageSrc]="'../../../assets/icons8-aula-64.png'"
            [imageHeight]="70"
            [imageWidth]="70"
            [showImage]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
        <div class="col-4 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="100"
            [radius]="75"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#f9fd02'"
            [innerStrokeColor]="'#C7E596'"
            [backgroundGradient]="true"
            [backgroundColor]="'#B7C3EA'"
            [backgroundGradientStopColor]="'#23397F'"
            [animation]="true"
            [title]="'HTML'"
            [showUnits]="false"
            [titleColor]="'white'"
            [titleFontSize]="'2rem'"
            [responsive]="true"
            [imageSrc]="'../../../assets/creatividad.png'"
            [imageHeight]="90"
            [imageWidth]="90"
            [showImage]="true"
            [animationDuration]="300"
            ></circle-progress>
        </div>
    </div>
</div>
</div>
</div>