

<div class="container">
  <div class="row">
    <h1>PROYECTOS REALIZADOS</h1>
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h2>Proyecto 1</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus fuga ducimus id! Odio consequatur a dolorum, excepturi labore molestias deserunt, nihil, laboriosam non illo eius minus voluptatum tempora aliquid perspiciatis.</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/img-placeholder.png" class="img-fluid">
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h2>Proyecto 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus fuga ducimus id! Odio consequatur a dolorum, excepturi labore molestias deserunt, nihil, laboriosam non illo eius minus voluptatum tempora aliquid perspiciatis.</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/img-placeholder.png" class="img-fluid">
    </div>
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
        <h2>Proyecto 3</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus fuga ducimus id! Odio consequatur a dolorum, excepturi labore molestias deserunt, nihil, laboriosam non illo eius minus voluptatum tempora aliquid perspiciatis.</p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/img-placeholder.png" class="img-fluid">
    </div>
</div>  
</div>
        
